body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
}

.conteudo {
    margin: 25px 50px 10px 50px;
}

/* #logo {
    width: 200px !important;
    height: 200px !important;
} */

.cabecalho {
    width: 100%;
    padding: 10px;
    border: 2px solid;
}

/* Define the three columns */
.coluna {
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
}

.coluna-esquerda {
    width: 20% !important;
}

.coluna-centro {
    width: 50% !important;
}

/* Clear floats after the columns */
.linha::after {
    content: "";
    clear: both;
    display: table;
}

/* Style the links inside the header */
header a {
    color: #fff;
    text-decoration: none;
}

/* Add a hover effect to the links */
header a:hover {
    text-decoration: underline;
}

.coluna-direita {
    display: inline-block;
    height: 100%;
}



.idioma {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 50px;
    margin: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    border: 1px solid;
}

.idioma:hover {
    background-color: #999;
    color: #fff;
}

.links-cabecalho {
    display: inline;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}

.link-cabecalho {
    background-color: #f2f2f2;
    text-align: center;    
    margin: 10px;
    font-size: 14px;
    color: #333;
}

.idioma:hover {
    background-color: #999;
    color: #fff;
}